# Analyze Causal Effect Using Diff-in-Diff Model

https://towardsdatascience.com/analyze-causal-effect-using-diff-in-diff-model-85e07b17e7b7

Card and Krueger (1994) estimate the causal effect of an increase in the state minimum wage on the employment. On April 1, 1992, New Jersey raised the state minimum wage from $4.25 to $5.05 while the minimum wage in Pennsylvania stays the same at $4.25. Card and Krueger surveyed fast food restaurants in New Jersey in February 1992 and again in November 1992. They also collected the data from fast food restaurants in the neighboring neighboring eastern Pennsylvania.
I downloaded the data file public.dat used by Card and Krueger (1994) from MIT Economics website. I computed the simple DiD estimates of the effects of the NJ minimum wage increase in Python. Essentially, I compare the change in employment in NJ to the employment change in PA over the period from February to November. Below are the codes:

In [39]:
import os
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols

In [20]:
df = pd.read_csv("mini-wage.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 46 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SHEET     410 non-null    int64
 1   CHAINr    410 non-null    int64
 2   CO_OWNED  410 non-null    int64
 3   STATE     410 non-null    int64
 4   SOUTHJ    410 non-null    int64
 5   CENTRALJ  410 non-null    int64
 6   NORTHJ    410 non-null    int64
 7   PA1       410 non-null    int64
 8   PA2       410 non-null    int64
 9   SHORE     410 non-null    int64
 10  NCALLS    410 non-null    int64
 11  EMPFT     410 non-null    object
 12  EMPPT     410 non-null    object
 13  NMGRS     410 non-null    object
 14  WAGE_ST   410 non-null    object
 15  INCTIME   410 non-null    object
 16  FIRSTINC  410 non-null    object
 17  BONUS     410 non-null    int64
 18  PCTAFF    410 non-null    object
 19  MEAL      410 non-null    int64
 20  OPEN      410 non-null    float64
 21  HRSOPEN   410 non-null    float64
 22  PSODA     410 non-null    object
 23  PFRY      410 non-null    object
 24  PENTREE   410 non-null    object
 25  NREGS     410 non-null    object
 26  NREGS11   410 non-null    object
 27  TYPE2     410 non-null    int64
 28  STATUS2   410 non-null    int64
 29  DATE2     410 non-null    int64
 30  NCALLS2   410 non-null    object
 31  EMPFT2    410 non-null    object
 32  EMPPT2    410 non-null    object
 33  NMGRS2    410 non-null    object
 34  WAGE_ST2  410 non-null    object
 35  INCTIME2  410 non-null    object
 36  FIRSTIN2  410 non-null    object
 37  SPECIAL2  410 non-null    object
 38  MEALS2    410 non-null    object
 39  OPEN2R    410 non-null    object
 40  HRSOPEN2  410 non-null    object
 41  PSODA2    410 non-null    object
 42  PFRY2     410 non-null    object
 43  PENTREE2  410 non-null    object
 44  NREGS2    410 non-null    object
 45  NREGS112  410 non-null    object
dtypes: float64(2), int64(16), object(28)
memory usage: 147.5+ KB

In [23]:
# data cleaning 
df = df.replace('.', '')
df = df.apply(pd.to_numeric)

df['EMPTOT']= df['EMPPT']*0.5 + df['EMPFT'] + df['NMGRS']                                              
df['EMPTOT2']=df['EMPPT2']*0.5 + df['EMPFT2'] + df['NMGRS2']
df = df[['STATE','EMPTOT','EMPTOT2']]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATE    410 non-null    int64
 1   EMPTOT   398 non-null    float64
 2   EMPTOT2  396 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 9.7 KB

In [25]:
df.head()

   STATE  EMPTOT  EMPTOT2
0      0   40.50     24.0
1      0   13.75     11.5
2      0    8.50     10.5
3      0   34.00     20.0
4      0   24.00     35.5

In [13]:
# create panel dataset for regression
df_1 = df[['STATE', 'EMPTOT']]
df_1['t']=0
df_2 = df[['STATE', 'EMPTOT2']]
df_2['t']=1
df_2.columns = ['STATE', 'EMPTOT','t']
df_reg = pd.concat([df_1, df_2], axis=0)
df_reg['dt'] = np.where((df_reg['STATE']== 1) & (df_reg['t']== 1) , 1, 0)

In [31]:
df_reg.head()

   STATE  EMPTOT  t  dt
0      0   40.50  0   0
1      0   13.75  0   0
2      0    8.50  0   0
3      0   34.00  0   0
4      0   24.00  0   0

In [36]:
# check by calculating the mean for each group directly
print("PA employment before:", round(df[(df.STATE == 0)]['EMPTOT'].mean(),2))
print("PA employment after:", round(df[(df.STATE == 0)]['EMPTOT2'].mean(),2))
print("NJ employment before:", round(df[(df.STATE == 1)]['EMPTOT'].mean(),2))
print("NJ employment after:", round(df[(df.STATE == 1)]['EMPTOT2'].mean(),2))
pa_dif =  round(df[(df.STATE == 0)]['EMPTOT2'].mean(),2) - round(df[(df.STATE == 0)]['EMPTOT'].mean(),2)
nj_dif = round(df[(df.STATE == 1)]['EMPTOT2'].mean(),1) - round(df[(df.STATE == 1)]['EMPTOT'].mean(),2)

did = nj_dif - pa_dif
print("Diff in Diff in mean employment:",round(did,2))

PA employment before: 23.33
PA employment after: 21.17
NJ employment before: 20.44
NJ employment after: 21.03
Diff in Diff in mean employment: 2.72

In [41]:
# regression

result = ols('EMPTOT ~ STATE + t + dt', data=df_reg).fit(cov_type='HC1',)
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 EMPTOT   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.404
Date:                Tue, 01 Feb 2022   Prob (F-statistic):              0.240
Time:                        09:08:36   Log-Likelihood:                -2904.2
No. Observations:                 794   AIC:                             5816.
Df Residuals:                     790   BIC:                             5835.
Df Model:                           3
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.3312      1.346     17.337      0.000      20.694      25.969
STATE         -2.8918      1.439     -2.010      0.044      -5.712      -0.072
t             -2.1656      1.641     -1.320      0.187      -5.382       1.051
dt             2.7536      1.795      1.534      0.125      -0.765       6.273
==============================================================================
Omnibus:                      218.742   Durbin-Watson:                   1.840
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              804.488
Skew:                           1.268   Prob(JB):                    2.03e-175
Kurtosis:                       7.229   Cond. No.                         11.3
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)